<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz App</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

<!-------------- INFO BOX --------------->
<div class="info_box mainInfo">
  <div class="info-title"><span>Category Topics </span></div>
  <div class="info-list">
      <div class="info"><strong>1.</strong> Full-Stack 101 </div>
      <div class="categorybuttons">
        <a href="/quiz" class="continue">Start Quiz</a>
      </div>

      <div class="info"><strong>2.</strong> Why did the JavaScript developer go broke? Because he used up all his cache!</div>
      <div class="categorybuttons">
        <a href="/beginnersjs" class="continue">Start Quiz</a>
      </div>
      <div class="info"><strong>3</strong>.</strong> AdvanceJS</div>
      <div class="categorybuttons">
          <a href="/advancejs" class="continue">Start Quiz</a>
      </div>

      <div class="info"><strong>4.</strong> Down with OOP</div>
      <div class="categorybuttons">
          <a href="/oop" class="continue">Start Quiz</a>
      </div>

      <div class="info"><strong>5.</strong>Basic Java and I/O</div>
      <div class="categorybuttons">
          <a href="/basicJavaInputOutput" class="continue">Start Quiz</a>
      </div>

      <div class="info"><strong>6.</strong> Why did the developer spring into action with SQL and TDD? Because they found the 'Boot'-iful recipe for success in SpringBoot!</div>
      <div class="categorybuttons">
        <a href="/sql" class="continue">Start Quiz</a>
      </div>

      <div class="info"><strong>7.</strong> Spring </div>
      <div class="categorybuttons">
          <a href="/spring" class="continue">Start Quiz</a>
      </div>

      <div class="info"><strong>8.</strong> Full-Stack 105 </div>
      <div class="categorybuttons">
        <a href="/fs105" class="continue">Start Quiz</a>
      </div>

      <div class="info"><strong>9.</strong> Why did the developer get a job in the cloud? Because they were 'AWS'-ome at handling high-altitude coding! </div>
    <div class="categorybuttons">
        <a href="/fs106" class="continue">Start Quiz</a>
    </div>

      <div class="info"><strong>10.</strong> Be Professional </div>
      <div class="categorybuttons">
          <a href="/pd" class="continue">Start Quiz</a>
      </div>


  </div>

</div>

</body>
</html>