<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz App</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

<!-------------- INFO BOX --------------->
<div class="info_box mainInfo">
  <div class="info-title"><span>Milestone Mastery: A 6-Month Quiz Adventure </span></div>
  <div class="info-list">
    <div class="info"><strong>1.</strong> You'll get rewards on the basis of your correct answers.</div>
    <div class="info"><strong>2.</strong> Answer the questions to the best of your knowledge. <em>The purpose of the quiz is to test your understanding so you know what areas to improve on.</em></div>
    <div class="info"><strong>3.</strong> Read questions carefully. Pay attention to details and take your time.</div>
  </div>
  <div class="buttons">
    <a href="/category" class="continue">Continue</a>
  </div>
</div>

</body>
</html>